/* Bottom rounded section in the top of the page*/
.cheers-section {
    margin: 0 auto;
    width: 380px;
    height: 320px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 30px;;
}
.cheers-section h1 {

    padding-top: 120px;
    font-weight: 800;
    margin: 0px;
}
.cheers-section p {
    margin: 0;
    padding: 5px;
}
.cheers-section img {
    margin: 0 auto;
}
.wish-section {
    margin: 0 auto;
    width: 380px;
    text-align: center;
    line-height: 1em;
}
.wish-section > p {
    margin: 10px;
    padding: 0px;
}

#btn-next{
    display: inline-block; 
    padding: 12px 55px;
    background-color: black;
    color: #ffffff;
    border: none;
    text-decoration: none;
    margin: 0px;;
}